html {
  font-size: 10px;
  font-family: 'Noto Sans SC', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

img {
  display: block;
  margin: 0 auto;
}

/* 设置鼠标悬浮照片放大 */
#images img:hover {
  transform: scale(1.6);
  transition: all 1.5s ease 0s;
}

/* 为照片所在的盒子设置grid属性 */
div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 40px;
  grid-column-gap: 10px;
}

#imageShow {
  display: none;
}

#bigimg {
  display: inline;
}

button {
  width: auto;
}